# Cisco Switch
SWITCH_HOST=
SWITCH_USERNAME=
SWITCH_PASSWORD=
SWITCH_SECRET=

# Nautobot
NAUTOBOT_URL=
NAUTOBOT_TOKEN=
NAUTOBOT_PARENT_PREFIX=
NAUTOBOT_VPN_POOL=169.255.0.0/16
NAUTOBOT_LAN_POOL=10.0.0.0/16
NAUTOBOT_LOOPBACK_POOL=172.31.255.0/24

# Palo Alto
PALOALTO_HOST=
PALOALTO_USERNAME=
PALOALTO_PASSWORD=
