config system global
    set hostname "{{ hostname }}"
end

config system interface
    edit "port2"
        set vdom "root"
        set alias "WAN1"
        set ip {{ wan1_ip }} {{ wan1_mask }}
        unset allowaccess
        set allowaccess ping
        set type physical


    next

    edit "port3"
        set vdom "root"
        set alias "WAN2"
        set ip {{ wan2_ip }} {{ wan2_mask }}
        unset allowaccess
        set allowaccess ping
        set type physical


    next

    edit "port4"
        set vdom "root"
        set alias "{{ name }}_LAN"
        set ip {{ lan_gateway }} 255.255.255.0
        unset allowaccess
        set allowaccess ping https http
        set type physical


    next

    edit "LO-MGMT"
        set vdom "root"
        set type loopback
        set ip {{ loopback_ip }} 255.255.255.255
        set allowaccess ping https ssh snmp http
    next
end



config router static
    edit 100
        set distance 1
        set sdwan-zone "WAN-INTERNET"
    next
end


config system dhcp server
    edit 2
        set default-gateway {{ lan_gateway }}
        set netmask 255.255.255.0
        set interface "port4"
        config ip-range
            edit 1
                set start-ip {{ dhcp_start }}
                set end-ip {{ dhcp_end }}
            next
        end
        set dns-server1 10.255.255.1
    next
end

config firewall address
    edit "BRANCH-LAN"
        set subnet {{ lan_network }} 255.255.255.0
    next

    edit "DC-LAN"
        set subnet 10.255.255.0 255.255.255.0
    next

    edit "DC-SERVER-1"
        set subnet 10.255.255.1 255.255.255.255
    next

    edit "NET-DC"
        set subnet 10.255.255.0 255.255.255.0
    next
end

config vpn ipsec phase1-interface
    edit "VPN1-PA-DC"
        set vdom "root"
        set interface "port2"
        set ike-version {{ phase1_ike_version }}
        set keylife 28800
        set peertype any
        set net-device disable
        set proposal {{ phase1_proposal }}
        set dhgrp {{ phase1_dh_group }}
        set remote-gw {{ dc_wan1_ip }}
        set psksecret "{{ phase1_psk }}"
    next

    edit "VPN2-PA-DC"
        set vdom "root"
        set interface "port3"
        set ike-version {{ phase1_ike_version }}
        set keylife 28800
        set peertype any
        set net-device disable
        set proposal {{ phase1_proposal }}
        set dhgrp {{ phase1_dh_group }}
        set remote-gw {{ dc_wan2_ip }}
        set psksecret "{{ phase1_psk }}"
    next
end

config vpn ipsec phase2-interface
    edit "VPN1-PA-DC-P2"
        set phase1name "VPN1-PA-DC"
        set proposal des-sha256
        set dhgrp 14
        set keylifeseconds 3600
    next

    edit "VPN2-PA-DC-P2"
        set phase1name "VPN2-PA-DC"
        set proposal des-sha256
        set dhgrp 14
        set keylifeseconds 3600
    next
end

config system interface
    edit "VPN1-PA-DC"
        set vdom "root"
        set ip {{ vpn1_branch_ip }} 255.255.255.255
        set allowaccess ping https
        set type tunnel
        set remote-ip {{ vpn1_dc_ip }} 255.255.255.252
        set interface "port2"
    next

    edit "VPN2-PA-DC"
        set vdom "root"
        set ip {{ vpn2_branch_ip }} 255.255.255.255
        set allowaccess ping https
        set type tunnel
        set remote-ip {{ vpn2_dc_ip }} 255.255.255.252
        set interface "port3"
    next
end

config router community-list
    edit "COMM-VPN1-PREFER"
        config rule
            edit 1
                set action permit
                set match "65001:1"
            next
        end
    next

    edit "COMM-VPN2-PREFER"
        config rule
            edit 1
                set action permit
                set match "65001:2"
            next
        end
    next

    edit "COMM-VPN1-DEGRADED"
        config rule
            edit 1
                set action permit
                set match "65001:11"
            next
        end
    next

    edit "COMM-VPN2-DEGRADED"
        config rule
            edit 1
                set action permit
                set match "65001:12"
            next
        end
    next
end

config router route-map
    edit "RM-OUT-VPN1"
        config rule
            edit 1
                set set-community "65001:11"
            next
        end
    next

    edit "RM-OUT-VPN1-PREF"
        config rule
            edit 1
                set set-community "65001:1"
            next
        end
    next

    edit "RM-OUT-VPN2"
        config rule
            edit 1
                set set-community "65001:11"
            next
        end
    next

    edit "RM-OUT-VPN2-PREF"
        config rule
            edit 1
                set set-community "65001:2"
            next
        end
    next
end

config router bgp
    set as 65001
    set ibgp-multipath enable
    set router-id {{ lan_gateway }}

    config neighbor
        edit "{{ vpn1_dc_ip }}"
            set remote-as 65001
            set route-map-out "RM-OUT-VPN1"
            set route-map-out-preferable "RM-OUT-VPN1-PREF"
            set advertisement-interval 1

        next

        edit "{{ vpn2_dc_ip }}"
            set remote-as 65001
            set route-map-out "RM-OUT-VPN2"
            set route-map-out-preferable "RM-OUT-VPN2-PREF"
            set advertisement-interval 1

        next
    end

    config network
        edit 1
            set prefix {{ lan_network }} 255.255.255.0
        next

        edit 2
            set prefix {{ loopback_ip }} 255.255.255.255
        next
    end
end

config system sdwan
    set status enable

    config zone
        edit "VPN-DC"
        next

        edit "WAN-INTERNET"
        next
    end

    config members
        edit 1
            set interface "port2"
            set zone "WAN-INTERNET"
            set gateway 100.64.0.1
        next

        edit 2
            set interface "port3"
            set zone "WAN-INTERNET"
            set gateway 100.100.0.1
        next

        edit 3
            set interface "VPN1-PA-DC"
            set zone "VPN-DC"
        next

        edit 4
            set interface "VPN2-PA-DC"
            set zone "VPN-DC"
        next
    end

    config health-check
        edit "SLA_DC"
            set server "10.255.255.1"
            set interval 1000
            set probe-timeout 250
            set failtime 2
            set recoverytime 10
            set members 3 4

            config sla
                edit 1
                    set latency-threshold 100
                    set jitter-threshold 20
                    set packetloss-threshold 5
                next
            end
        next

        edit "SLA_INTERNET"
            set server "8.8.8.8"
            set protocol ping
            set interval 1000
            set probe-timeout 500
            set failtime 3
            set recoverytime 3
            set members 1 2

            config sla
                edit 1
                    set latency-threshold 150
                    set jitter-threshold 30
                    set packetloss-threshold 5
                next
            end
        next
    end

    config neighbor
        edit "{{ vpn1_dc_ip }}"
            set member 3
            set health-check "SLA_DC"
            set sla-id 1
        next

        edit "{{ vpn2_dc_ip }}"
            set member 4
            set health-check "SLA_DC"
            set sla-id 1
        next
    end

    config service
        edit 1
            set name "TO-DC"
            set mode sla
            set minimum-sla-meet-members 1
            set dst "NET-DC"
            set src "all"

            config sla
                edit "SLA_DC"
                    set id 1
                next
            end

            set priority-members 3 4
            set tie-break cfg-order
        next

        edit 2
            set name "TO-INTERNET"
            set mode sla
            set dst "all"
            set src "all"

            config sla
                edit "SLA_INTERNET"
                    set id 1
                next
            end

            set priority-members 1 2
            set tie-break cfg-order
        next
    end
end

config firewall service group
    edit "SERVICES-DC"
        set member "PING" "DNS" "HTTP" "HTTPS" "FTP" "NTP" "SSH" "TRACEROUTE"
    next

    edit "SERVICES-MGMT"
        set member "SSH" "RDP" "HTTPS" "HTTP" "SNMP" "TELNET" "TFTP" "TRACEROUTE" "VNC" "PING" "PING6"
    next
end

config firewall policy
    edit 1
        set name "BRANCH-LAN-to-VPN-DC"
        set srcintf "port4"
        set dstintf "VPN-DC"
        set action accept
        set srcaddr "BRANCH-LAN"
        set dstaddr "DC-SERVER-1"
        set schedule "always"
        set service "SERVICES-DC"
        set logtraffic all
    next

    edit 2
        set name "VPN-DC-to-BRANCH-LAN"
        set srcintf "VPN-DC"
        set dstintf "port4"
        set action accept
        set srcaddr "DC-LAN"
        set dstaddr "BRANCH-LAN"
        set schedule "always"
        set service "SERVICES-MGMT"
        set logtraffic all
    next

    edit 3
        set name "DC-to-FG-MGMT"
        set srcintf "VPN-DC"
        set dstintf "LO-MGMT"
        set action accept
        set srcaddr "DC-SERVER-1"
        set dstaddr "all"
        set schedule "always"
        set service "SERVICES-MGMT"
        set logtraffic all
    next

end
