# Nautobot
NAUTOBOT_URL=http://localhost:8080
NAUTOBOT_TOKEN=

# IPAM
NAUTOBOT_PARENT_PREFIX=169.255.0.0/16

# Automation user
NAUTOBOT_AUTOMATION_USERNAME=network-automation
NAUTOBOT_AUTOMATION_GROUP=network-automation-ipam
